
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    display: inline;
    margin: 0 5px;
}

.pagination li a {
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: #764abc;
    cursor: pointer;
    text-decoration: none;
}

.pagination li.active a {
    background-color: #ac84ed;
    color: white;
}

.pagination li a:hover {
    background-color: #ddd;
}
